@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To YokeTech</h1>
    <h3>Your partner in solving Business problems!</h3>
    @*<p><img src="/css/smanga.jpg" /></p>*@
</div>
